/* Vertical Align */
/* Animations */
.animate {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s; }

.template-objects-bar {
  position: relative; }
  .template-objects-bar .editable {
    color: #40B5C9;
    line-height: 1;
    border: 0px;
    font-weight: bold;
    text-align: center;
    font-size: 72px;
    width: 100%;
    text-transform: uppercase;
    outline: none;
    margin-bottom: 54px; }
  .template-objects-bar:hover {
    background-color: #F9F9F9; }
    .template-objects-bar:hover .delete {
      display: block; }
  .template-objects-bar .delete {
    display: none;
    cursor: pointer;
    position: absolute;
    max-height: 100%;
    top: 0;
    right: 0;
    background-color: #f9644c;
    color: #ffffff;
    font-size: 12px;
    padding: 4px 6px; }
