// Imports 

@import '../scss/variables';
@import '../scss/mixins';
@import '../scss/animations';


// Template Builder Header

.dashboard-header {
	height: 42px;
	border-bottom: 1px solid $lineColour; 
	
	.header-button {
		width: 76px;
		height: 42px;
		display: inline-block;
		text-align: center;
		border-right: 1px solid $lineColour;
		text-transform: uppercase;
		&.cog {
			border-left: 1px solid $lineColour;
		}
        &.no-border {
			border-right: 0px;
		}
		&.date-range {
			width: 152px;
			font-size: 9px;
		}
		&:hover {
			background-color: $lightHover;
			cursor: pointer;
			border-bottom: 1px solid $lineColour; 
		}
	}
	
	.header-title {
		height: 42px;
		overflow:hidden;
		width:430px;
		text-align: left;
		display: inline-block;
		text-transform: uppercase;
		&:hover {
			background-color: $lightHover;
			cursor: text;
			border-bottom: 1px solid $lineColour; 
			.title .edit {
				color: $fontColour;
			}
		}
		.title .edit {
			position: absolute;
    		right: 25px;
    		top: 12px;
			color: $chimpBackground;
		}
		.title input {
			padding: 0px 25px;
			height: 41px;
			width: 100%;
			text-transform: uppercase;
			&:focus {
				background-color: $lightHover;
				& + .edit {
				color: $chimpPrimary;
				}
			}
			&:hover {
				background-color: $lightHover;
			}
		}
	}
	
} 

// Template Builder Main

.template-area {
    background-color:white;
	padding:86px;
	position: relative;
    width:80%;
    max-width:765px;
    margin: 68px auto;
    height: auto;
	min-height: 80vh;
    transition: transform 0.5s linear;
	&.adjusted {
		transform: translateX(-900px);
		.edit-fields {
			transform:translateY(0px);
		}
	}
}

// Template Builder Menu Left

.template-menu-left {
    background-color: white;
    position: absolute;
    padding: 48px 32px;
	left: -196px;
	top:0px;
	.template-object {
		margin-bottom: 32px;
		cursor: move;
		&:last-child {
			margin-bottom: 0px;
		}
	}
}

// Template Builder Menu Right

.template-menu-right {
    background-color: white;
    position: absolute;
	text-align:center;
    padding: 17px;
	right: -196px;
	top:0;
	.template-data-object {
		font-size: 12px;
		height: 46px;
		width: 101px;
		margin-bottom: 17px;
		cursor: move;
		&:last-child {
			margin-bottom: 0px;
		}
	}
}

// Edit Fields

.edit-fields {
	transition: transform 0.5s linear;
	transform:translateY(-1000px);
	position:absolute;
	right:-782px;
	top:0;
	background-color:white;
	width:522px;
	height:600px;
}

// Template Builder Dataset

.syntax {
    font-weight: 500;
}

.dataset {

    .cell-underlay {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    font-size: 11px;
    z-index: 0;
    pointer-events: none;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #8D6647;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    }
    
    .cell-overlay {
        color: transparent;
    }

}

