<div class="template-builder">

<!-- Template Builder Header -->

<div class="dashboard-header">
    
		<div class="header-title pull-left">
			<div class="title vertical-align">
				<input type="text" ng-model="title"/>
				<div class="edit pull-right">
					<i class="fa fa-pencil fa-right fa-size-small"></i>
				</div>
			</div>
		</div>
        
        <div class="header-button pull-right no-border">
			<div class="vertical-align">
			     PUBLISH
			</div>
		</div>
        
        <div class="header-button cog pull-left">
			<div class="vertical-align">
			<i class="fa fa-cog fa-size-small"></i>
			</div>
		</div>
</div>

<!-- Template Main Area -->

<div class="dashboard animate" ng-class="{contracted: expanded}">

    <template-area></template-area>

</div>

<!-- Template Data -->

<!--<template-builder-data></template-builder-data>-->

</div>