
// Imports 

@import 'variables';
@import 'mixins';
@import 'animations';

// Reset 

html {
	margin:0;
	padding:0; 
	box-sizing: border-box;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body { 
	min-height: 100%; 
	margin:0;
	padding:0; 
	overflow-x:hidden;
}

a { color: inherit; text-decoration: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

// Classes 

.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }

.pull-left { float: left; }
.pull-right { float: right; }
.clearfix { clear: both; }

// Colours

.primary {
	background-color: $chimpPrimary;
}

// Vertical Align

.vertical-align { 
	@include vertical-align(); 
}

i.vertical-align { 
	display: block; 
}

// Typography 

body { 
	font-family: 'Lato', sans-serif; 
	color: $fontColour;
	font-size: 12px;
	background-color: $chimpBackground;
    font-weight: 300;
}

input, textarea, select {
	font-family: 'Lato', sans-serif; 
}


// Icons 

.fa-right { margin-left: 10px; }
.fa-left { margin-right: 10px; }
.fa-size-xsmall { font-size: 10px !important; }
.fa-size-small { font-size: 15px !important; }
.fa-size-medium { font-size: 20px !important; }
.fa-size-large { font-size: 25px !important; }
.fa-size-xlarge { font-size: 30px !important; }

// navbar

.navbar {
    background-color: $headerColour;
	height: $navbarHeight; 
	width: 100%;
	padding: 0 $desktopPadding; 
}

.logo {
	cursor: pointer;
	@include vertical-align();
}

.username {
	@include vertical-align();
}

// ui-view 

.ui-view {

}

// Inputs

input {
    width: 100%;
    background-color: rgba(0,0,0,0);
    border: none;
    color: $fontColour;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
	&:focus {
		outline:0;
	}
}

// Buttons

.button {
	cursor: pointer !important;
}

// Selection


// Animated Scrolling

  .page {
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s ease;
    transform: translate3d(0, 0, 0);

    &.forward {
        &.ng-enter { transform: translate3d(100%, 0, 0);}
        &.ng-enter-active { transform: translate3d(0, 0, 0);}
        &.ng-leave { transform: translate3d(0, 0, 0); }
        &.ng-leave-active { transform: translate3d(-100%, 0, 0); }
    }

    &.backward {
        &.ng-enter { transform: translate3d(-100%, 0, 0);}
        &.ng-enter-active { transform: translate3d(0, 0, 0);}
        &.ng-leave { transform: translate3d(0, 0, 0); }
        &.ng-leave-active { transform: translate3d(100%, 0, 0); }
    }

  }

  // Area Defaults

  .dashboard-header {
	height: 42px;
	border-bottom: 1px solid $lineColour; 
	
	.header-button {
		width: 76px;
		height: 42px;
		display: inline-block;
		text-align: center;
		border-right: 1px solid $lineColour;
		text-transform: uppercase;
		&.cog {
			border-left: 1px solid $lineColour;
		}
        &.no-border {
			border-right: 0px;
		}
		&.date-range {
			width: 152px;
			font-size: 9px;
		}
		&:hover {
			background-color: $lightHover;
			cursor: pointer;
			border-bottom: 1px solid $lineColour; 
		}
	}
	
	.header-title {
		height: 42px;
		overflow:hidden;
		width:430px;
		text-align: left;
		display: inline-block;
		text-transform: uppercase;
		&:hover {
			background-color: $lightHover;
			cursor: text;
			border-bottom: 1px solid $lineColour; 
			.title .edit {
				color: $fontColour;
			}
		}
		.title .edit {
			position: absolute;
    		right: 25px;
    		top: 12px;
			color: $chimpBackground;
		}
		.title input {
			padding: 0px 25px;
			height: 41px;
			width: 100%;
			text-transform: uppercase;
			&:focus {
				background-color: $lightHover;
				& + .edit {
				color: $chimpPrimary;
				}
			}
			&:hover {
				background-color: $lightHover;
			}
		}
	}
	
} 

.page-area {
    background-color: white;
    padding: 74px;
    position: relative;
    width: 80%;
    max-width: 765px;
    margin: 68px auto;
    height: auto;
    min-height: 80vh;
    transition: transform 0.5s linear;
}

.bottom-right-menu {
    position:fixed;
    top: 80vh;
    right: 7%;
    img {
        cursor: pointer;
    }
}

.bottom-left-menu {
    position:fixed;
    top: 80vh;
    left: 7%;
    img {
        cursor: pointer;
    }
}


