
// Variables

// Main

$chimpPrimary: #8D6647;
$chimpDark: #DBD6D1;
$chimpBackground: #F9F9F9;
$chimpHighlight:$chimpPrimary;
$chimpLowlight:  #EAE7E4;
$fontColour:  $chimpPrimary;
$headerColour:  #FFFFFF;
$lineColour:  #DDD5CF;
$lightHover: #FFFFFF;
$lightHoverColor: $chimpPrimary;
$datasetHeaderColour: #FFFFFF;

// Graph

$graph1: #1B5662;
$graph2: #158079;
$graph3: #BE682E;
$graph4: #728D3C;
$graph5: #625D1B;
$graph6: lighten(#1B5662,5);
$graph7: lighten(#158079,5);
$graph8: lighten(#BE682E,5);
$graph9: lighten(#728D3C,5);
$graph10:lighten(#625D1B,5);
$graph11: lighten(#1B5662,10);
$graph12: lighten(#158079,10);
$graph13: lighten(#BE682E,10);
$graph14: lighten(#728D3C,10);
$graph15: lighten(#625D1B,10);
$graph16: lighten(#1B5662,15);
$graph17: lighten(#158079,15);
$graph18: lighten(#BE682E,15);
$graph19: lighten(#728D3C,15);
$graph20: lighten(#625D1B,15);
$graph21: lighten(#1B5662,20);
$graph22: lighten(#158079,20);
$graph23: lighten(#BE682E,20);
$graph24: lighten(#728D3C,20);
$graph25: lighten(#625D1B,20);
$graph26: lighten(#1B5662,25);

// Padding

$desktopPadding: 25px; 


// Sizes

$navbarHeight: 56px; 
$sideMenuWidth: 166px; 
$dashboardLinkHeight:147px;