/* Vertical Align */
/* Animations */
.animate {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

a {
  color: inherit;
  text-decoration: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.clearfix {
  clear: both; }

.primary {
  background-color: #8D6647; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

i.vertical-align {
  display: block; }

body {
  font-family: 'Lato', sans-serif;
  color: #8D6647;
  font-size: 12px;
  background-color: #F9F9F9;
  font-weight: 300; }

input, textarea, select {
  font-family: 'Lato', sans-serif; }

.fa-right {
  margin-left: 10px; }

.fa-left {
  margin-right: 10px; }

.fa-size-xsmall {
  font-size: 10px !important; }

.fa-size-small {
  font-size: 15px !important; }

.fa-size-medium {
  font-size: 20px !important; }

.fa-size-large {
  font-size: 25px !important; }

.fa-size-xlarge {
  font-size: 30px !important; }

.navbar {
  background-color: #FFFFFF;
  height: 56px;
  width: 100%;
  padding: 0 25px; }

.logo {
  cursor: pointer;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.username {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: #8D6647;
  font-weight: 300;
  font-family: 'Lato', sans-serif; }
  input:focus {
    outline: 0; }

.button {
  cursor: pointer !important; }

.person {
  padding: 20px 30px;
  text-align: center;
  background-color: #eee;
  border: 1px solid white;
  margin-bottom: 10px; }

.new-person {
  padding: 20px 30px;
  text-align: center;
  background-color: #eee;
  border: 1px solid #e2e3e4;
  margin-bottom: 10px;
  cursor: move;
  width: 50%; }

.new-person-click {
  padding: 20px 30px;
  text-align: center;
  background-color: #eee;
  border: 1px solid #e2e3e4;
  margin-bottom: 10px;
  cursor: pointer;
  width: 50%; }

.container {
  background-color: grey;
  padding: 20px;
  width: 50%; }
