/* Vertical Align */
.bar-chart {
  height: 600px; }
  .bar-chart .chart {
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .bar-chart .chart .bar {
      position: relative;
      display: inline-block;
      margin-right: 20px; }
      .bar-chart .chart .bar .heading {
        position: absolute;
        margin: 20px auto;
        width: 52px;
        left: 0;
        font-size: 9px;
        right: 0;
        text-transform: uppercase;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis; }
        .bar-chart .chart .bar .heading.empty {
          display: none; }
      .bar-chart .chart .bar.empty {
        height: 0px;
        overflow: hidden;
        width: 0px;
        margin-right: 0px; }
      .bar-chart .chart .bar:last-child {
        margin-right: 0px; }
      .bar-chart .chart .bar .bar-left {
        float: left;
        width: 25px;
        -webkit-transform: skewY(15deg);
        -moz-transform: skewY(15deg);
        -o-transform: skewY(15deg); }
      .bar-chart .chart .bar .bar-right {
        float: left;
        width: 25px;
        -webkit-transform: skewY(-15deg);
        -moz-transform: skewY(-15deg);
        -o-transform: skewY(-15deg); }
      .bar-chart .chart .bar .bar-top {
        width: 0;
        height: 0;
        left: -1px;
        border: 26px solid transparent;
        position: absolute;
        top: -36px; }
        .bar-chart .chart .bar .bar-top:after {
          content: '';
          position: absolute;
          left: -25px;
          top: 7px;
          width: 0;
          height: 0;
          border: 25px solid transparent; }
      .bar-chart .chart .bar.A .bar-left {
        background-color: #40B5C9; }
      .bar-chart .chart .bar.A .bar-right {
        background-color: #68c4d4; }
      .bar-chart .chart .bar.A .bar-top {
        border-bottom: 7px solid #90d4df; }
        .bar-chart .chart .bar.A .bar-top:after {
          border-top: 7px solid #90d4df; }
      .bar-chart .chart .bar.B .bar-left {
        background-color: #B1CE1C; }
      .bar-chart .chart .bar.B .bar-right {
        background-color: #c8e439; }
      .bar-chart .chart .bar.B .bar-top {
        border-bottom: 7px solid #d5ea66; }
        .bar-chart .chart .bar.B .bar-top:after {
          border-top: 7px solid #d5ea66; }
      .bar-chart .chart .bar.C .bar-left {
        background-color: #F9644C; }
      .bar-chart .chart .bar.C .bar-right {
        background-color: #fb8f7d; }
      .bar-chart .chart .bar.C .bar-top {
        border-bottom: 7px solid #fcb9af; }
        .bar-chart .chart .bar.C .bar-top:after {
          border-top: 7px solid #fcb9af; }
      .bar-chart .chart .bar.D .bar-left {
        background-color: #ECE348; }
      .bar-chart .chart .bar.D .bar-right {
        background-color: #f1ea76; }
      .bar-chart .chart .bar.D .bar-top {
        border-bottom: 7px solid #f6f1a4; }
        .bar-chart .chart .bar.D .bar-top:after {
          border-top: 7px solid #f6f1a4; }
      .bar-chart .chart .bar.E .bar-left {
        background-color: #F9994C; }
      .bar-chart .chart .bar.E .bar-right {
        background-color: #fbb57d; }
      .bar-chart .chart .bar.E .bar-top {
        border-bottom: 7px solid #fcd1af; }
        .bar-chart .chart .bar.E .bar-top:after {
          border-top: 7px solid #fcd1af; }
      .bar-chart .chart .bar.F .bar-left {
        background-color: #54bdcf; }
      .bar-chart .chart .bar.F .bar-right {
        background-color: #7cccda; }
      .bar-chart .chart .bar.F .bar-top {
        border-bottom: 7px solid #a3dce5; }
        .bar-chart .chart .bar.F .bar-top:after {
          border-top: 7px solid #a3dce5; }
      .bar-chart .chart .bar.G .bar-left {
        background-color: #c2e122; }
      .bar-chart .chart .bar.G .bar-right {
        background-color: #cee74f; }
      .bar-chart .chart .bar.G .bar-top {
        border-bottom: 7px solid #dbed7c; }
        .bar-chart .chart .bar.G .bar-top:after {
          border-top: 7px solid #dbed7c; }
      .bar-chart .chart .bar.H .bar-left {
        background-color: #fa7965; }
      .bar-chart .chart .bar.H .bar-right {
        background-color: #fba496; }
      .bar-chart .chart .bar.H .bar-top {
        border-bottom: 7px solid #fdcfc7; }
        .bar-chart .chart .bar.H .bar-top:after {
          border-top: 7px solid #fdcfc7; }
      .bar-chart .chart .bar.I .bar-left {
        background-color: #eee75f; }
      .bar-chart .chart .bar.I .bar-right {
        background-color: #f3ee8d; }
      .bar-chart .chart .bar.I .bar-top {
        border-bottom: 7px solid #f8f5bc; }
        .bar-chart .chart .bar.I .bar-top:after {
          border-top: 7px solid #f8f5bc; }
      .bar-chart .chart .bar.J .bar-left {
        background-color: #faa765; }
      .bar-chart .chart .bar.J .bar-right {
        background-color: #fbc396; }
      .bar-chart .chart .bar.J .bar-top {
        border-bottom: 7px solid #fddfc7; }
        .bar-chart .chart .bar.J .bar-top:after {
          border-top: 7px solid #fddfc7; }
      .bar-chart .chart .bar.K .bar-left {
        background-color: #68c4d4; }
      .bar-chart .chart .bar.K .bar-right {
        background-color: #90d4df; }
      .bar-chart .chart .bar.K .bar-top {
        border-bottom: 7px solid #b7e3eb; }
        .bar-chart .chart .bar.K .bar-top:after {
          border-top: 7px solid #b7e3eb; }
      .bar-chart .chart .bar.L .bar-left {
        background-color: #c8e439; }
      .bar-chart .chart .bar.L .bar-right {
        background-color: #d5ea66; }
      .bar-chart .chart .bar.L .bar-top {
        border-bottom: 7px solid #e1f093; }
        .bar-chart .chart .bar.L .bar-top:after {
          border-top: 7px solid #e1f093; }
      .bar-chart .chart .bar.M .bar-left {
        background-color: #fb8f7d; }
      .bar-chart .chart .bar.M .bar-right {
        background-color: #fcb9af; }
      .bar-chart .chart .bar.M .bar-top {
        border-bottom: 7px solid #fee4e0; }
        .bar-chart .chart .bar.M .bar-top:after {
          border-top: 7px solid #fee4e0; }
      .bar-chart .chart .bar.N .bar-left {
        background-color: #f1ea76; }
      .bar-chart .chart .bar.N .bar-right {
        background-color: #f6f1a4; }
      .bar-chart .chart .bar.N .bar-top {
        border-bottom: 7px solid #faf8d3; }
        .bar-chart .chart .bar.N .bar-top:after {
          border-top: 7px solid #faf8d3; }
      .bar-chart .chart .bar.O .bar-left {
        background-color: #fbb57d; }
      .bar-chart .chart .bar.O .bar-right {
        background-color: #fcd1af; }
      .bar-chart .chart .bar.O .bar-top {
        border-bottom: 7px solid #feede0; }
        .bar-chart .chart .bar.O .bar-top:after {
          border-top: 7px solid #feede0; }
      .bar-chart .chart .bar.P .bar-left {
        background-color: #7cccda; }
      .bar-chart .chart .bar.P .bar-right {
        background-color: #a3dce5; }
      .bar-chart .chart .bar.P .bar-top {
        border-bottom: 7px solid #cbebf0; }
        .bar-chart .chart .bar.P .bar-top:after {
          border-top: 7px solid #cbebf0; }
      .bar-chart .chart .bar.Q .bar-left {
        background-color: #cee74f; }
      .bar-chart .chart .bar.Q .bar-right {
        background-color: #dbed7c; }
      .bar-chart .chart .bar.Q .bar-top {
        border-bottom: 7px solid #e7f3a9; }
        .bar-chart .chart .bar.Q .bar-top:after {
          border-top: 7px solid #e7f3a9; }
      .bar-chart .chart .bar.R .bar-left {
        background-color: #fba496; }
      .bar-chart .chart .bar.R .bar-right {
        background-color: #fdcfc7; }
      .bar-chart .chart .bar.R .bar-top {
        border-bottom: 7px solid #fffaf9; }
        .bar-chart .chart .bar.R .bar-top:after {
          border-top: 7px solid #fffaf9; }
      .bar-chart .chart .bar.S .bar-left {
        background-color: #f3ee8d; }
      .bar-chart .chart .bar.S .bar-right {
        background-color: #f8f5bc; }
      .bar-chart .chart .bar.S .bar-top {
        border-bottom: 7px solid #fdfcea; }
        .bar-chart .chart .bar.S .bar-top:after {
          border-top: 7px solid #fdfcea; }
      .bar-chart .chart .bar.T .bar-left {
        background-color: #fbc396; }
      .bar-chart .chart .bar.T .bar-right {
        background-color: #fddfc7; }
      .bar-chart .chart .bar.T .bar-top {
        border-bottom: 7px solid #fffbf9; }
        .bar-chart .chart .bar.T .bar-top:after {
          border-top: 7px solid #fffbf9; }
      .bar-chart .chart .bar.U .bar-left {
        background-color: #90d4df; }
      .bar-chart .chart .bar.U .bar-right {
        background-color: #b7e3eb; }
      .bar-chart .chart .bar.U .bar-top {
        border-bottom: 7px solid #dff3f6; }
        .bar-chart .chart .bar.U .bar-top:after {
          border-top: 7px solid #dff3f6; }
      .bar-chart .chart .bar.V .bar-left {
        background-color: #d5ea66; }
      .bar-chart .chart .bar.V .bar-right {
        background-color: #e1f093; }
      .bar-chart .chart .bar.V .bar-top {
        border-bottom: 7px solid #edf6c0; }
        .bar-chart .chart .bar.V .bar-top:after {
          border-top: 7px solid #edf6c0; }
      .bar-chart .chart .bar.W .bar-left {
        background-color: #fcb9af; }
      .bar-chart .chart .bar.W .bar-right {
        background-color: #fee4e0; }
      .bar-chart .chart .bar.W .bar-top {
        border-bottom: 7px solid white; }
        .bar-chart .chart .bar.W .bar-top:after {
          border-top: 7px solid white; }
      .bar-chart .chart .bar.X .bar-left {
        background-color: #f6f1a4; }
      .bar-chart .chart .bar.X .bar-right {
        background-color: #faf8d3; }
      .bar-chart .chart .bar.X .bar-top {
        border-bottom: 7px solid white; }
        .bar-chart .chart .bar.X .bar-top:after {
          border-top: 7px solid white; }
      .bar-chart .chart .bar.Y .bar-left {
        background-color: #fcd1af; }
      .bar-chart .chart .bar.Y .bar-right {
        background-color: #feede0; }
      .bar-chart .chart .bar.Y .bar-top {
        border-bottom: 7px solid white; }
        .bar-chart .chart .bar.Y .bar-top:after {
          border-top: 7px solid white; }
      .bar-chart .chart .bar.Z .bar-left {
        background-color: #a3dce5; }
      .bar-chart .chart .bar.Z .bar-right {
        background-color: #cbebf0; }
      .bar-chart .chart .bar.Z .bar-top {
        border-bottom: 7px solid #f3fafc; }
        .bar-chart .chart .bar.Z .bar-top:after {
          border-top: 7px solid #f3fafc; }
