/* Vertical Align */
@keyframes "blink" {
  from, to {
    opacity: 0; }
  50% {
    opacity: 1; } }
@-moz-keyframes blink {
  from, to {
    opacity: 0; }
  50% {
    opacity: 1; } }
@-webkit-keyframes "blink" {
  from, to {
    opacity: 0; }
  50% {
    opacity: 1; } }
@-ms-keyframes "blink" {
  from, to {
    opacity: 0; }
  50% {
    opacity: 1; } }
@-o-keyframes "blink" {
  from, to {
    opacity: 0; }
  50% {
    opacity: 1; } }
.dataset {
  position: fixed;
  width: 100%;
  bottom: 0; }
  .dataset .dataset-header {
    cursor: pointer;
    padding: 0px 25px;
    background-color: #8D6647;
    width: 100%;
    height: 42px;
    font-size: 17px;
    font-weight: 100;
    color: #FFFFFF; }
  .dataset .expand:hover {
    cursor: pointer; }
  .dataset .cell {
    position: relative;
    background-color: #F1F1F0;
    float: left;
    height: 46px;
    border-right: 1px solid #C2B1A4;
    border-bottom: 1px solid #C2B1A4; }
    .dataset .cell input:focus + .cell-underlay .fake-cursor {
      border-right: 1px solid #8D6647; }
    .dataset .cell .fake-cursor {
      border-right: 0px solid #8D6647;
      -webkit-animation: 1s blink step-end infinite;
      -moz-animation: 1s blink step-end infinite;
      -ms-animation: 1s blink step-end infinite;
      -o-animation: 1s blink step-end infinite;
      animation: 1s blink step-end infinite; }
    .dataset .cell.data-heading {
      text-transform: uppercase;
      background-color: #DBD6D1; }
      .dataset .cell.data-heading:focus {
        background-color: #FFFFFF; }
    .dataset .cell input {
      height: 100%; }
      .dataset .cell input:focus {
        background-color: #FFFFFF; }
        .dataset .cell input:focus + .cell-label {
          color: #C2B1A4; }
    .dataset .cell .cell-label {
      position: absolute;
      bottom: 3px;
      left: 3px;
      z-index: 1;
      font-size: 7px;
      color: #C2B1A4; }

.coloured.A {
  color: white !important;
  background-color: #40B5C9 !important;
  border-right: 1px solid #54bdcf !important;
  border-bottom: 1px solid #54bdcf !important; }
  .coloured.A:focus {
    background-color: #44b7ca !important; }
.coloured.B {
  color: white !important;
  background-color: #B1CE1C !important;
  border-right: 1px solid #c2e122 !important;
  border-bottom: 1px solid #c2e122 !important; }
  .coloured.B:focus {
    background-color: #b5d21d !important; }
.coloured.C {
  color: white !important;
  background-color: #F9644C !important;
  border-right: 1px solid #fa7965 !important;
  border-bottom: 1px solid #fa7965 !important; }
  .coloured.C:focus {
    background-color: #f96851 !important; }
.coloured.D {
  color: white !important;
  background-color: #ECE348 !important;
  border-right: 1px solid #eee75f !important;
  border-bottom: 1px solid #eee75f !important; }
  .coloured.D:focus {
    background-color: #ece44d !important; }
.coloured.E {
  color: white !important;
  background-color: #F9994C !important;
  border-right: 1px solid #faa765 !important;
  border-bottom: 1px solid #faa765 !important; }
  .coloured.E:focus {
    background-color: #f99c51 !important; }
.coloured.F {
  color: white !important;
  background-color: #54bdcf !important;
  border-right: 1px solid #68c4d4 !important;
  border-bottom: 1px solid #68c4d4 !important; }
  .coloured.F:focus {
    background-color: #58bed0 !important; }
.coloured.G {
  color: white !important;
  background-color: #c2e122 !important;
  border-right: 1px solid #c8e439 !important;
  border-bottom: 1px solid #c8e439 !important; }
  .coloured.G:focus {
    background-color: #c3e227 !important; }
.coloured.H {
  color: white !important;
  background-color: #fa7965 !important;
  border-right: 1px solid #fb8f7d !important;
  border-bottom: 1px solid #fb8f7d !important; }
  .coloured.H:focus {
    background-color: #fa7e6a !important; }
.coloured.I {
  color: white !important;
  background-color: #eee75f !important;
  border-right: 1px solid #f1ea76 !important;
  border-bottom: 1px solid #f1ea76 !important; }
  .coloured.I:focus {
    background-color: #efe764 !important; }
.coloured.J {
  color: white !important;
  background-color: #faa765 !important;
  border-right: 1px solid #fbb57d !important;
  border-bottom: 1px solid #fbb57d !important; }
  .coloured.J:focus {
    background-color: #faaa6a !important; }
.coloured.K {
  color: white !important;
  background-color: #68c4d4 !important;
  border-right: 1px solid #7cccda !important;
  border-bottom: 1px solid #7cccda !important; }
  .coloured.K:focus {
    background-color: #6cc6d5 !important; }
.coloured.L {
  color: white !important;
  background-color: #c8e439 !important;
  border-right: 1px solid #cee74f !important;
  border-bottom: 1px solid #cee74f !important; }
  .coloured.L:focus {
    background-color: #c9e53d !important; }
.coloured.M {
  color: white !important;
  background-color: #fb8f7d !important;
  border-right: 1px solid #fba496 !important;
  border-bottom: 1px solid #fba496 !important; }
  .coloured.M:focus {
    background-color: #fb9382 !important; }
.coloured.N {
  color: white !important;
  background-color: #f1ea76 !important;
  border-right: 1px solid #f3ee8d !important;
  border-bottom: 1px solid #f3ee8d !important; }
  .coloured.N:focus {
    background-color: #f1eb7b !important; }
.coloured.O {
  color: white !important;
  background-color: #fbb57d !important;
  border-right: 1px solid #fbc396 !important;
  border-bottom: 1px solid #fbc396 !important; }
  .coloured.O:focus {
    background-color: #fbb882 !important; }
.coloured.P {
  color: white !important;
  background-color: #7cccda !important;
  border-right: 1px solid #90d4df !important;
  border-bottom: 1px solid #90d4df !important; }
  .coloured.P:focus {
    background-color: #80cedb !important; }
.coloured.Q {
  color: white !important;
  background-color: #cee74f !important;
  border-right: 1px solid #d5ea66 !important;
  border-bottom: 1px solid #d5ea66 !important; }
  .coloured.Q:focus {
    background-color: #d0e854 !important; }
.coloured.R {
  color: white !important;
  background-color: #fba496 !important;
  border-right: 1px solid #fcb9af !important;
  border-bottom: 1px solid #fcb9af !important; }
  .coloured.R:focus {
    background-color: #fca89b !important; }
.coloured.S {
  color: white !important;
  background-color: #f3ee8d !important;
  border-right: 1px solid #f6f1a4 !important;
  border-bottom: 1px solid #f6f1a4 !important; }
  .coloured.S:focus {
    background-color: #f4ee92 !important; }
.coloured.T {
  color: white !important;
  background-color: #fbc396 !important;
  border-right: 1px solid #fcd1af !important;
  border-bottom: 1px solid #fcd1af !important; }
  .coloured.T:focus {
    background-color: #fcc69b !important; }
.coloured.U {
  color: white !important;
  background-color: #90d4df !important;
  border-right: 1px solid #a3dce5 !important;
  border-bottom: 1px solid #a3dce5 !important; }
  .coloured.U:focus {
    background-color: #93d5e1 !important; }
.coloured.V {
  color: white !important;
  background-color: #d5ea66 !important;
  border-right: 1px solid #dbed7c !important;
  border-bottom: 1px solid #dbed7c !important; }
  .coloured.V:focus {
    background-color: #d6eb6a !important; }
.coloured.W {
  color: white !important;
  background-color: #fcb9af !important;
  border-right: 1px solid #fdcfc7 !important;
  border-bottom: 1px solid #fdcfc7 !important; }
  .coloured.W:focus {
    background-color: #fcbeb4 !important; }
.coloured.X {
  color: white !important;
  background-color: #f6f1a4 !important;
  border-right: 1px solid #f8f5bc !important;
  border-bottom: 1px solid #f8f5bc !important; }
  .coloured.X:focus {
    background-color: #f6f2a9 !important; }
.coloured.Y {
  color: white !important;
  background-color: #fcd1af !important;
  border-right: 1px solid #fddfc7 !important;
  border-bottom: 1px solid #fddfc7 !important; }
  .coloured.Y:focus {
    background-color: #fcd4b4 !important; }
.coloured.Z {
  color: white !important;
  background-color: #a3dce5 !important;
  border-right: 1px solid #b7e3eb !important;
  border-bottom: 1px solid #b7e3eb !important; }
  .coloured.Z:focus {
    background-color: #a7dde6 !important; }
.coloured.default {
  background-color: #f9f9f9;
  color: #8d6647; }

.syntax.A {
  color: #40B5C9 !important; }
.syntax.B {
  color: #B1CE1C !important; }
.syntax.C {
  color: #F9644C !important; }
.syntax.D {
  color: #ECE348 !important; }
.syntax.E {
  color: #F9994C !important; }
.syntax.F {
  color: #54bdcf !important; }
.syntax.G {
  color: #c2e122 !important; }
.syntax.H {
  color: #fa7965 !important; }
.syntax.I {
  color: #eee75f !important; }
.syntax.J {
  color: #faa765 !important; }
.syntax.K {
  color: #68c4d4 !important; }
.syntax.L {
  color: #c8e439 !important; }
.syntax.M {
  color: #fb8f7d !important; }
.syntax.N {
  color: #f1ea76 !important; }
.syntax.O {
  color: #fbb57d !important; }
.syntax.P {
  color: #7cccda !important; }
.syntax.Q {
  color: #cee74f !important; }
.syntax.R {
  color: #fba496 !important; }
.syntax.S {
  color: #f3ee8d !important; }
.syntax.T {
  color: #fbc396 !important; }
.syntax.U {
  color: #90d4df !important; }
.syntax.V {
  color: #d5ea66 !important; }
.syntax.W {
  color: #fcb9af !important; }
.syntax.X {
  color: #f6f1a4 !important; }
.syntax.Y {
  color: #fcd1af !important; }
.syntax.Z {
  color: #a3dce5 !important; }
