/* Vertical Align */
.dataset .dataset-header {
  cursor: pointer;
  padding: 0px 25px;
  background-color: #8D6647;
  width: 100%;
  height: 42px;
  font-size: 17px;
  font-weight: 100;
  color: #FFFFFF; }
.dataset .expand:hover {
  cursor: pointer; }
.dataset .cell {
  position: relative;
  float: left;
  height: 46px;
  border-right: 1px solid #DDD5CF;
  border-bottom: 1px solid #DDD5CF; }
  .dataset .cell.data-heading {
    text-transform: uppercase;
    background-color: #EAE7E4; }
    .dataset .cell.data-heading:focus {
      background-color: #FFFFFF; }
  .dataset .cell input {
    height: 100%; }
    .dataset .cell input:focus {
      background-color: #FFFFFF; }
      .dataset .cell input:focus + .cell-label {
        color: #DDD5CF; }
  .dataset .cell .cell-label {
    position: absolute;
    bottom: 3px;
    left: 3px;
    z-index: 1;
    font-size: 7px;
    color: #DDD5CF; }
.dataset .coloured.A {
  color: white;
  background-color: #1B5662;
  border-right: 1px solid #216876; }
  .dataset .coloured.A:focus {
    background-color: #1c5a66; }
.dataset .coloured.B {
  color: white;
  background-color: #158079;
  border-right: 1px solid #19968e; }
  .dataset .coloured.B:focus {
    background-color: #16847d; }
.dataset .coloured.C {
  color: white;
  background-color: #BE682E;
  border-right: 1px solid #cf7437; }
  .dataset .coloured.C:focus {
    background-color: #c26a2f; }
.dataset .coloured.D {
  color: white;
  background-color: #728D3C;
  border-right: 1px solid #809f44; }
  .dataset .coloured.D:focus {
    background-color: #75913e; }
.dataset .coloured.E {
  color: white;
  background-color: #625D1B;
  border-right: 1px solid #767021; }
  .dataset .coloured.E:focus {
    background-color: #66611c; }
.dataset .coloured.F {
  color: white;
  background-color: #216876;
  border-right: 1px solid #26798a; }
  .dataset .coloured.F:focus {
    background-color: #226b7a; }
.dataset .coloured.G {
  color: white;
  background-color: #19968e;
  border-right: 1px solid #1caca2; }
  .dataset .coloured.G:focus {
    background-color: #199a92; }
.dataset .coloured.H {
  color: white;
  background-color: #cf7437;
  border-right: 1px solid #d4824b; }
  .dataset .coloured.H:focus {
    background-color: #d0773b; }
.dataset .coloured.I {
  color: white;
  background-color: #809f44;
  border-right: 1px solid #8fb14b; }
  .dataset .coloured.I:focus {
    background-color: #83a245; }
.dataset .coloured.J {
  color: white;
  background-color: #767021;
  border-right: 1px solid #8a8326; }
  .dataset .coloured.J:focus {
    background-color: #7a7422; }
.dataset .coloured.K {
  color: white;
  background-color: #26798a;
  border-right: 1px solid #2c8b9e; }
  .dataset .coloured.K:focus {
    background-color: #277d8e; }
.dataset .coloured.L {
  color: white;
  background-color: #1caca2;
  border-right: 1px solid #20c2b7; }
  .dataset .coloured.L:focus {
    background-color: #1db0a7; }
.dataset .coloured.M {
  color: white;
  background-color: #d4824b;
  border-right: 1px solid #d99160; }
  .dataset .coloured.M:focus {
    background-color: #d58550; }
.dataset .coloured.N {
  color: white;
  background-color: #8fb14b;
  border-right: 1px solid #9aba5c; }
  .dataset .coloured.N:focus {
    background-color: #92b44e; }
.dataset .coloured.O {
  color: white;
  background-color: #8a8326;
  border-right: 1px solid #9e962c; }
  .dataset .coloured.O:focus {
    background-color: #8e8727; }
.dataset .coloured.P {
  color: white;
  background-color: #2c8b9e;
  border-right: 1px solid #319cb2; }
  .dataset .coloured.P:focus {
    background-color: #2d8ea2; }
.dataset .coloured.Q {
  color: white;
  background-color: #20c2b7;
  border-right: 1px solid #23d8cc; }
  .dataset .coloured.Q:focus {
    background-color: #21c6bb; }
.dataset .coloured.R {
  color: white;
  background-color: #d99160;
  border-right: 1px solid #dd9f75; }
  .dataset .coloured.R:focus {
    background-color: #d99364; }
.dataset .coloured.S {
  color: white;
  background-color: #9aba5c;
  border-right: 1px solid #a5c16e; }
  .dataset .coloured.S:focus {
    background-color: #9dbb5f; }
.dataset .coloured.T {
  color: white;
  background-color: #9e962c;
  border-right: 1px solid #b2a931; }
  .dataset .coloured.T:focus {
    background-color: #a29a2d; }
.dataset .coloured.U {
  color: white;
  background-color: #319cb2;
  border-right: 1px solid #37aec6; }
  .dataset .coloured.U:focus {
    background-color: #32a0b6; }
.dataset .coloured.V {
  color: white;
  background-color: #23d8cc;
  border-right: 1px solid #36ded3; }
  .dataset .coloured.V:focus {
    background-color: #25dbcf; }
.dataset .coloured.W {
  color: white;
  background-color: #dd9f75;
  border-right: 1px solid #e2ad89; }
  .dataset .coloured.W:focus {
    background-color: #dea279; }
.dataset .coloured.X {
  color: white;
  background-color: #a5c16e;
  border-right: 1px solid #b0c980; }
  .dataset .coloured.X:focus {
    background-color: #a8c371; }
.dataset .coloured.Y {
  color: white;
  background-color: #b2a931;
  border-right: 1px solid #c6bc37; }
  .dataset .coloured.Y:focus {
    background-color: #b6ad32; }
.dataset .coloured.Z {
  color: white;
  background-color: #37aec6;
  border-right: 1px solid #49b7cd; }
  .dataset .coloured.Z:focus {
    background-color: #39b0c8; }
