/* Vertical Align */
.dataset {
  position: fixed;
  width: 100%;
  bottom: 0; }
  .dataset .dataset-header {
    cursor: pointer;
    padding: 0px 25px;
    background-color: #8D6647;
    width: 100%;
    height: 42px;
    font-size: 17px;
    font-weight: 100;
    color: #FFFFFF; }
  .dataset .expand:hover {
    cursor: pointer; }
  .dataset .cell {
    position: relative;
    float: left;
    height: 46px;
    border-right: 1px solid #C2B1A4;
    border-bottom: 1px solid #C2B1A4; }
    .dataset .cell.data-heading {
      text-transform: uppercase;
      background-color: #DBD6D1; }
      .dataset .cell.data-heading:focus {
        background-color: #FFFFFF; }
    .dataset .cell input {
      height: 100%; }
      .dataset .cell input:focus {
        background-color: #FFFFFF; }
        .dataset .cell input:focus + .cell-label {
          color: #C2B1A4; }
    .dataset .cell .cell-label {
      position: absolute;
      bottom: 3px;
      left: 3px;
      z-index: 1;
      font-size: 7px;
      color: #C2B1A4; }
  .dataset .coloured.A {
    color: white;
    background-color: #40B5C9;
    border-right: 1px solid #54bdcf;
    border-bottom: 1px solid #54bdcf; }
    .dataset .coloured.A:focus {
      background-color: #44b7ca; }
  .dataset .coloured.B {
    color: white;
    background-color: #B1CE1C;
    border-right: 1px solid #c2e122;
    border-bottom: 1px solid #c2e122; }
    .dataset .coloured.B:focus {
      background-color: #b5d21d; }
  .dataset .coloured.C {
    color: white;
    background-color: #F9644C;
    border-right: 1px solid #fa7965;
    border-bottom: 1px solid #fa7965; }
    .dataset .coloured.C:focus {
      background-color: #f96851; }
  .dataset .coloured.D {
    color: white;
    background-color: #ECE348;
    border-right: 1px solid #eee75f;
    border-bottom: 1px solid #eee75f; }
    .dataset .coloured.D:focus {
      background-color: #ece44d; }
  .dataset .coloured.E {
    color: white;
    background-color: #F9994C;
    border-right: 1px solid #faa765;
    border-bottom: 1px solid #faa765; }
    .dataset .coloured.E:focus {
      background-color: #f99c51; }
  .dataset .coloured.F {
    color: white;
    background-color: #54bdcf;
    border-right: 1px solid #68c4d4;
    border-bottom: 1px solid #68c4d4; }
    .dataset .coloured.F:focus {
      background-color: #58bed0; }
  .dataset .coloured.G {
    color: white;
    background-color: #c2e122;
    border-right: 1px solid #c8e439;
    border-bottom: 1px solid #c8e439; }
    .dataset .coloured.G:focus {
      background-color: #c3e227; }
  .dataset .coloured.H {
    color: white;
    background-color: #fa7965;
    border-right: 1px solid #fb8f7d;
    border-bottom: 1px solid #fb8f7d; }
    .dataset .coloured.H:focus {
      background-color: #fa7e6a; }
  .dataset .coloured.I {
    color: white;
    background-color: #eee75f;
    border-right: 1px solid #f1ea76;
    border-bottom: 1px solid #f1ea76; }
    .dataset .coloured.I:focus {
      background-color: #efe764; }
  .dataset .coloured.J {
    color: white;
    background-color: #faa765;
    border-right: 1px solid #fbb57d;
    border-bottom: 1px solid #fbb57d; }
    .dataset .coloured.J:focus {
      background-color: #faaa6a; }
  .dataset .coloured.K {
    color: white;
    background-color: #68c4d4;
    border-right: 1px solid #7cccda;
    border-bottom: 1px solid #7cccda; }
    .dataset .coloured.K:focus {
      background-color: #6cc6d5; }
  .dataset .coloured.L {
    color: white;
    background-color: #c8e439;
    border-right: 1px solid #cee74f;
    border-bottom: 1px solid #cee74f; }
    .dataset .coloured.L:focus {
      background-color: #c9e53d; }
  .dataset .coloured.M {
    color: white;
    background-color: #fb8f7d;
    border-right: 1px solid #fba496;
    border-bottom: 1px solid #fba496; }
    .dataset .coloured.M:focus {
      background-color: #fb9382; }
  .dataset .coloured.N {
    color: white;
    background-color: #f1ea76;
    border-right: 1px solid #f3ee8d;
    border-bottom: 1px solid #f3ee8d; }
    .dataset .coloured.N:focus {
      background-color: #f1eb7b; }
  .dataset .coloured.O {
    color: white;
    background-color: #fbb57d;
    border-right: 1px solid #fbc396;
    border-bottom: 1px solid #fbc396; }
    .dataset .coloured.O:focus {
      background-color: #fbb882; }
  .dataset .coloured.P {
    color: white;
    background-color: #7cccda;
    border-right: 1px solid #90d4df;
    border-bottom: 1px solid #90d4df; }
    .dataset .coloured.P:focus {
      background-color: #80cedb; }
  .dataset .coloured.Q {
    color: white;
    background-color: #cee74f;
    border-right: 1px solid #d5ea66;
    border-bottom: 1px solid #d5ea66; }
    .dataset .coloured.Q:focus {
      background-color: #d0e854; }
  .dataset .coloured.R {
    color: white;
    background-color: #fba496;
    border-right: 1px solid #fcb9af;
    border-bottom: 1px solid #fcb9af; }
    .dataset .coloured.R:focus {
      background-color: #fca89b; }
  .dataset .coloured.S {
    color: white;
    background-color: #f3ee8d;
    border-right: 1px solid #f6f1a4;
    border-bottom: 1px solid #f6f1a4; }
    .dataset .coloured.S:focus {
      background-color: #f4ee92; }
  .dataset .coloured.T {
    color: white;
    background-color: #fbc396;
    border-right: 1px solid #fcd1af;
    border-bottom: 1px solid #fcd1af; }
    .dataset .coloured.T:focus {
      background-color: #fcc69b; }
  .dataset .coloured.U {
    color: white;
    background-color: #90d4df;
    border-right: 1px solid #a3dce5;
    border-bottom: 1px solid #a3dce5; }
    .dataset .coloured.U:focus {
      background-color: #93d5e1; }
  .dataset .coloured.V {
    color: white;
    background-color: #d5ea66;
    border-right: 1px solid #dbed7c;
    border-bottom: 1px solid #dbed7c; }
    .dataset .coloured.V:focus {
      background-color: #d6eb6a; }
  .dataset .coloured.W {
    color: white;
    background-color: #fcb9af;
    border-right: 1px solid #fdcfc7;
    border-bottom: 1px solid #fdcfc7; }
    .dataset .coloured.W:focus {
      background-color: #fcbeb4; }
  .dataset .coloured.X {
    color: white;
    background-color: #f6f1a4;
    border-right: 1px solid #f8f5bc;
    border-bottom: 1px solid #f8f5bc; }
    .dataset .coloured.X:focus {
      background-color: #f6f2a9; }
  .dataset .coloured.Y {
    color: white;
    background-color: #fcd1af;
    border-right: 1px solid #fddfc7;
    border-bottom: 1px solid #fddfc7; }
    .dataset .coloured.Y:focus {
      background-color: #fcd4b4; }
  .dataset .coloured.Z {
    color: white;
    background-color: #a3dce5;
    border-right: 1px solid #b7e3eb;
    border-bottom: 1px solid #b7e3eb; }
    .dataset .coloured.Z:focus {
      background-color: #a7dde6; }
