/* Vertical Align */
.side-menu {
  background-color: #DBD6D1;
  position: fixed;
  left: 0;
  top: 56px;
  min-height: 100vh;
  height: 100vh;
  width: 166px;
  padding: 25px; }
  .side-menu .dashboard-link {
    position: relative;
    background-color: #DBD6D1;
    height: 147px;
    text-align: center;
    padding: 8px;
    margin-bottom: 25px; }
    .side-menu .dashboard-link:hover {
      background-color: #FFFFFF;
      cursor: pointer; }
  .side-menu .dashboard-thumb {
    margin-top: 15px; }
  .side-menu .dashboard-title {
    font-size: 11px;
    position: absolute;
    bottom: 18px;
    width: 85%;
    margin: 0 auto;
    left: 0;
    right: 0; }
  .side-menu .dashboard-new-icon {
    width: 52px;
    height: 52px;
    background-color: #8D6647;
    margin: 28px auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
    .side-menu .dashboard-new-icon .plus {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin-top: -3px;
      font-size: 30px;
      color: white; }
