/* Vertical Align */
/* Animations */
.animate {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s; }

.template-objects.subheader {
  position: relative; }
  .template-objects.subheader .editable {
    color: #757575;
    line-height: 1.4;
    border: 0px;
    font-weight: 200;
    text-align: center;
    font-size: 14px;
    width: 100%;
    outline: none;
    margin-bottom: 54px;
    height: 23px;
    resize: none; }
