// Imports 

@import '../../../scss/variables';
@import '../../../scss/mixins';
@import '../../../scss/animations';

.template-objects.header {
    position:relative;
    .editable {
        color: $highlight1;
        line-height:1;
        border: 0px;
        font-weight: bold;
        text-align:center;
        font-size: 72px;
        width:100%;
        text-transform:uppercase;
        outline:none;
        overflow: hidden;
        resize: none;
        margin-bottom:54px;
        height: 80px;
    }
}