.handsontable {
    &.handsontable-container {
        width: 100% !important;
        height: 100vh !important;
    }
    .wtHolder {
        width: 100% !important;
        height: 100vh !important;
    }
}