<div class="data-import" ng-class="{adjusted: showEdit}">

    <!-- Import Main Area -->

    <div class="spreadsheet-area">

        Upload Excel Document
        <input style="margin-bottom:60px;" type="file" accept=".xls,.xlsx,.ods,.csv" file-read on-upload="$ctrl.upload(data)" multiple="false" />
        
        <div style="margin-bottom:60px;">
        Select Primary Date Field:
        <button ng-repeat="date in $ctrl.spreadsheet.dates">{{ date.name }}</button>
        </div>

        <!--

        <table style="margin-bottom:60px;">
            <tr>
                <th ng-repeat="header in $ctrl.spreadsheet.headers">{{ header.name }}</th>
            </tr>
            <tr ng-repeat="row in $ctrl.spreadsheet.data track by $index">
                <th ng-repeat="cell in row track by $index">{{ cell }}</th>
            </tr>
        </table>

        -->

        <hot-table
        col-headers="$ctrl.spreadsheet.columns"
        datarows="$ctrl.spreadsheet.data"
        settings="$ctrl.handsOnTableSettings"
        min-spare-rows="10">
        <hot-column ng-repeat="name in $ctrl.spreadsheet.columns" data="{{name}}" type="'date'"></hot-column>
        </hot-table>

        <div class="bottom-right-menu">
            <img ng-click="$ctrl.pageClass='forward'" ui-sref="dashboard({movementType: 'forward'})" src="../images/view-icon.svg">
        </div>

    </div>

</div>