// Imports 

@import '../../../scss/variables';
@import '../../../scss/mixins';
@import '../../../scss/animations';

.template-objects.subheader {
    position:relative;
    .editable {
        color: $chimpText;
        line-height:1.4;
        border: 0px;
        font-weight: 200;
        text-align:center;
        font-size: 14px;
        width:100%;
        outline:none;
        margin-bottom:54px;
        height:23px;
        resize:none;
    }
}