// Imports 

@import '../../../scss/variables';
@import '../../../scss/mixins';
@import '../../../scss/animations';

.template-objects-subheader {
    position:relative;
    .editable {
        color: $chimpText;
        line-height:1.4;
        border: 0px;
        font-weight: 200;
        text-align:center;
        font-size: 14px;
        width:100%;
        outline:none;
        margin-bottom:54px;
    }
    &:hover{
        background-color:$chimpBackground;
        .delete {
            display:block;
        }
    }
    .delete {
        display:none;
        cursor:pointer;
        position: absolute;
        top: 0;
        right: 0;
        max-height:100%;
        background-color: rgb(249, 100, 76);
        color: #ffffff;
        font-size: 12px;
        padding: 2px 6px;
    }
}