<div class="template-area" ng-class="{adjusted: showEdit}">

		<!-- Template Menu Left -->

		<div class="template-menu-left">
			<div class="template-object" data-template="<template-objects-header></template-objects-header>">
				<img src="/images/header.svg">
			</div>
			<div class="template-object" data-template="<template-objects-subheader></template-objects-subheader>">
				<img src="/images/subheader.svg">
			</div>
			<div class="template-object" data-template="<template-objects-bar></template-objects-bar>">
				<img src="/images/bar.svg">
			</div>
			<div class="template-object" data-template="<template-objects-pie></template-objects-pie>">
				<img src="/images/pie.svg">
			</div>
		</div>

		<!-- Template Menu Right -->

		<div class="template-menu-right coloured">
			<div class="template-data-object A coloured" data-field-name="DATA 1" data-class="A">
				<div class="vertical-align">DATA 1</div>
			</div>
			<div class="template-data-object B coloured" data-field-name="DATA 2" data-class="B">
				<div class="vertical-align">DATA 2</div>
			</div>
			<div class="template-data-object C coloured" data-field-name="DATA 3" data-class="C">
				<div class="vertical-align">DATA 3</div>
			</div>
			<div class="template-data-object D coloured" data-field-name="DATA 4" data-class="D">
				<div class="vertical-align">DATA 4</div>
			</div>
			<div class="template-data-object E coloured" data-field-name="DATA 5" data-class="E">
				<div class="vertical-align">DATA 5</div>
			</div>
			<div class="template-data-object F coloured" data-field-name="DATA 6" data-class="F">
				<div class="vertical-align">DATA 6</div>
			</div>
			<div class="template-data-object G coloured" data-field-name="DATA 7" data-class="G">
				<div class="vertical-align">DATA 7</div>
			</div>
			<div class="template-data-object primary button" ng-click="showEdit =! showEdit">
				<div class="vertical-align">
					<img src="/images/fa-pencil.svg">
				</div>
			</div>
		</div>

		<!-- Output Templates -->

		<div ng-repeat="object in template" compile="object.template"></div>

		<!-- Edit Fields -->

		<div class="edit-fields">
		</div>
        
</div>