<div class="template-area" ng-class="{adjusted: showEdit}">

		<!-- Template Menu Left -->

		<div class="template-menu-left">
			<div class="template-object" data-template="<template-objects-header></template-objects-header>">
				<img src="/images/header.svg">
			</div>
			<div class="template-object" data-template="<template-objects-subheader></template-objects-subheader>">
				<img src="/images/subheader.svg">
			</div>
			<div class="template-object" data-template="<template-objects-bar></template-objects-bar>">
				<img src="/images/bar.svg">
			</div>
			<div class="template-object" data-template="<template-objects-pie></template-objects-pie>">
				<img src="/images/pie.svg">
			</div>
		</div>

		<!-- Template Menu Right -->

		<div class="template-menu-right coloured">
			<div class="template-data-object A coloured">
				<div class="vertical-align">DATA 1</div>
			</div>
			<div class="template-data-object B coloured">
				<div class="vertical-align">DATA 2</div>
			</div>
			<div class="template-data-object C coloured">
				<div class="vertical-align">DATA 3</div>
			</div>
			<div class="template-data-object D coloured">
				<div class="vertical-align">DATA 4</div>
			</div>
			<div class="template-data-object E coloured">
				<div class="vertical-align">DATA 5</div>
			</div>
			<div class="template-data-object F coloured">
				<div class="vertical-align">DATA 6</div>
			</div>
			<div class="template-data-object G coloured">
				<div class="vertical-align">DATA 7</div>
			</div>
			<div class="template-data-object primary button" ng-click="showEdit =! showEdit">
				<div class="vertical-align">
					<img src="/images/fa-pencil.svg">
				</div>
			</div>
		</div>

		<!-- Edit Fields -->

		<div class="edit-fields">

		</div>
        
</div>